<%- include('partials/log_header') -%>
<section class="py-5 text-center container">
  <div class="col-lg-6 col-md-8 mx-auto">
    <h6>User Dashboard</h6>
    <h1 class="fw-light">Welcome <%= user.firstName %></h1>
    <p class="lead text-muted">Here are your stories. Something short and leading about the collection below</p>
  </div>
</section>
<div class="container">
  <div class="row mt-5">
      <div class="col-6">
          <!-- Profile Section -->
          <div>
              <h5>Profile Info</h5>
              <div class="profile-page">
              <!-- <img id="avatar" src="/imgs/avatar.webp" class="rounded-circle justify-content-center" style="width: 150px;"alt="Profile Image" /> -->
                <img id="avatar" src="<%= user.avatar ? user.avatar : "/imgs/avatar.webp" %>" class="rounded-circle" style="width: 150px;"alt="Profile Image" />

                <form id='avatarForm' action="/uploadAvatar" enctype="multipart/form-data" method="POST" >
                  <input id="imageFile" type="file" name="avatar" />
                  <!-- <input id="preview" type="submit" value="preview" /> -->
                  <button type="submit" class="btn btn-primary" value="Upload">Save</button>
                </form>
              </div>
              <div class="profile-page">
                <!-- <input type="file" class="form-control" id="avatarUpload" name="avatar"> -->
                <!-- <p><strong>Avatar</strong>:<input type="file" name="avatar" ><input type="submit" value="save" /></p> -->
                <p><strong>User Name</strong>: <%= user.userName %></p>
                <p><strong>First Name</strong>: <%= user.firstName %></p>
                <p><strong>Last Name</strong>: <%= user.lastName %></p>
                <p><strong>Email</strong>: <%= user.email %></p>
                <p><strong>Bio</strong>: <%= user.bio %></p>
                <a href="/profile/edit" class="col-3 btn btn-secondary">Edit</a>
                <a href="/logout" class="col-3 btn btn-danger">Logout</a>
              </div>
          </div>
          <div class="mt-5">
            <!-- Move section to add stories file -->
            <h4>Create a Post</h4>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title*</label>
                  <input type="text" class="form-control" id="title" name="title" placeholder="Title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption*</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="description" class="form-label">Describe Your Content</label>
                <textarea class="form-control" id="description" style="height:8rem" name="description"></textarea>
              </div>
              <div class="mb-3">
                <label for="status">Status</label>
                <select name="status" id="status" class="form-select" aria-label="Default select example">
                  <option selected>Select visibility</option>
                  <option value="public" selected>Public</option>
                  <option value="private">Private</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="mediaUpload" class="form-label">Media</label>
                <input type="file" class="form-control" id="mediaUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
    
      <!-- Feed List Section -->
      <!-- <div class="col-6">
        <ul class="row list-unstyled">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">
            <a href="/post/<%= posts[i]._id%>">
              <img class="img-fluid" src="<%= posts[i].media%>">
            </a>
          </li>
        <% } %>
        </ul>
        <div class="row justify-content-center mt-5">
          <a class="btn btn-primary" href="/feed">Return to Feed</a>
        </div>  
      </div>   -->
      <div class="col-6">
        <h4>Capture a New Moment</h4>
          <p>Record a moment using your device camera and mic</p>
          <p>Upload video, picture, file and other moments from multiple other sources</p>
          <a href="capture" class="btn btn-info">Capture Now</a>
          <!-- questions test -->
      <!-- <div class="question-container col-6" id="question">
        Question goes here.
      </div>
      <div class="option-container">
        <button class="option" onclick="" id="op1" >option1</button>

        <button class="option" id="op2" >option2</button>

        <button class="option" id="op3">option3</button>

        <button class="option" id="op4">option4</button>
      </div>
      <div class="navigation">
        <button class="evaluate">Evaluate</button>
        <button class="next">Next</button>
      </div> -->
            <div class="mt-5">
              <h4>Your Posts</h4>
              <ul class="row list-unstyled">
              <% for(var i=0; i<posts.length; i++) {%>
                <li class="col-3 justify-content-between mt-5">
                  <h5><%= posts[i].title%></h5>
                  <a href="/post/<%= posts[i]._id%>">
                    <!-- <img class="img-fluid" src="<%= posts[i].media%>"> -->
                    <%if(ext[i] == '.mkv' ||ext == '.mkv'  || ext == '.webm'){ %>
                      <video
                      id="demo-player"
                      controls
                      class="img-fluid cld-video-player">
                      
                      <source src="<%= posts[i].media%>" type="video/mp4" class="card-img-top" alt="<%= posts[i].title%>" />
                      </video>
                      <%}else {%>
                        <img class="img-fluid" src="<%= posts[i].media%>" />
                      <%}%>
                  </a>
                </li>
              <% } %>
              </ul>
            </div>  
      </div>
      <div class="row justify-content-center mt-5">
        <a class="btn btn-primary" href="/feed">Return to Feed</a>
      </div>
      </div>  
    </div>
  </div>
</div>
<script src="/js/avatar.js" type="text/javascript"></script>

<!-- <%- include('partials/footer') -%> -->